main {
  padding: 0px 30px 0 30px;
  margin: 0 140px 0 140px;
}

.checkout-section-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.border-container {
  border: 1px solid rgb(197, 195, 195);
  padding: 18px;
  margin-bottom: 1rem;
}
.checkout-grid {
  width: 700px;
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  gap: 30px;
}

.process-date {
  color: darkgreen;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 28px;
}

.product-date {
  margin-bottom: 20px;
}

.product-image,
.delivery-option,
.product-details {
  width: 100%;
}

.product-name {
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-price {
  color: rgb(183, 3, 3);
  font-weight: 600;
  margin-bottom: 20px;
}

.span-update,
.span-delete {
  color: rgb(84, 84, 248);
  margin-left: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.span-update:hover,
.span-delete:hover {
  color: rgb(237, 72, 43);
}

.options {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
}

.delivery-option-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(69, 67, 67);
}

.delivery-date,
.delivery-fee {
  width: auto;
  font-size: 14px;
}

.delivery-fee {
  margin-bottom: 15px;
}

.span-shipping {
  color: grey;
}

.span-date {
  font-weight: 600;
  font-size: 14px;
  color: green;
}

.order-summary-title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
}

.order-summary {
  border: 1px solid rgb(197, 195, 195);
  padding: 18px 16px 20px 16px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 5px;
}

.row-gap {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(197, 195, 195);
}

.gap-total {
  padding: 15px 0;
}

.total-order,
.total-price {
  color: darkred;
  font-weight: 700;
  font-size: 18px;
}

.place-order-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: rgb(237, 237, 7);
  cursor: pointer;
  font-size: 14px;
  color: rgb(26, 25, 25);
  margin: 12px 0;
}
